# Dependencies
upx
x86_64-linux-musl-native/
zlib-1.2.13/

# Build results
runner-jlink/
runner.dynamic
runner.mostly-static
runner.static
runner.static-upx
runner-jlink/

# VS Code
.vscode/
.DS_Store